<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @admin_company_detail.company_name %>
</p>

<p>
  <b>Company certificate:</b>
  <%= @admin_company_detail.company_certificate %>
</p>


<%= link_to 'Edit', edit_admin_company_detail_path(@admin_company_detail) %> |
<%= link_to 'Back', admin_company_details_path %>

