<%= render 'spree/admin/shared/accounts_accordion' %>

<div id="acc_content">

<table class="index">
  <tr>
    <th>Account name</th>
    <th>Sort code</th>
    <th>Account number</th>
    <th>Banking institutions</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_accounting_bank_accounts.each do |admin_accounting_bank_account| %>
  <tr>
    <td><%= admin_accounting_bank_account.account_name %></td>
    <td><%= admin_accounting_bank_account.sort_code %></td>
    <td><%= admin_accounting_bank_account.account_number %></td>
    <td><%= Admin::BankingInstitution.find_by_id(admin_accounting_bank_account.banking_institutions_id).institution_name %></td>
    <td><%= link_to 'Transactions', "/admin/accounting_bank_accounts/transaction_summary/#{admin_accounting_bank_account.id}" %><td>
    <td><%= link_to 'Edit', edit_admin_accounting_bank_account_path(admin_accounting_bank_account) %></td>
    <td><%= link_to 'Destroy', admin_accounting_bank_account, confirm: 'This will delete all transactions', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accounting bank account', new_admin_accounting_bank_account_path %>
</div>
