<%= render 'spree/admin/shared/accounts_accordion' %>

<div id="acc_content">

    <table>
      <tr>
        <th>Institution name</th>
        <th></th>
        <th></th>
      </tr>

    <% @admin_banking_institutions.each do |admin_banking_institution| %>
      <tr>
        <td><%= admin_banking_institution.institution_name %></td>
        <td><%= link_to 'Edit', edit_admin_banking_institution_path(admin_banking_institution) %></td>
        <td><%= link_to 'Destroy', admin_banking_institution, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Banking institution', new_admin_banking_institution_path %>

</div>
