<% @admin_accounting_bank_accounts = Admin::AccountingBankAccount.all %>

<div id="slider">
  <div class="slider_header" id="one-header">Vendors</div>
  <div class="content" id="one-content">
    <div class="text">
      <ul>
        <li><%= link_to 'Suppliers', admin_suppliers_path %></li>
        <li>Utility</li>
        <li>Office</li>
        <li>Equipment</li>
        <li>Services</li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="two-header">Taxation</div>
  <div class="content" id="two-content">
    <div class="text">
       <ul>
        <li>VAT Return</li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="three-header">Banking</div>
  <div class="content" id="three-content">
    <div class="text">
       <ul>
        <li><%= link_to 'Banks Accounts', admin_accounting_bank_accounts_path %></li>

         <% @admin_accounting_bank_accounts.each do |accounts| %>
            <ul>
              <li><%= link_to accounts.account_name, "/admin/accounting_bank_accounts/transaction_summary/#{accounts.id}" %></li>
            </ul>
         <% end %>

        <li><%= link_to 'Transaction Type', admin_banking_transaction_types_path %></li>
        <li><%= link_to 'Banking Institution', admin_banking_institutions_path %></li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="four-header">Employees</div>
  <div class="content" id="four-content">
    <div class="text">
       <ul>
        <li>Wages</li>
        <li>Benefits</li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="five-header">Reports</div>
  <div class="content" id="five-content">
    <div class="text">
       <ul>
        <li>Employee</li>
        <li>Business</li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="six-header">Equity</div>
  <div class="content" id="six-content">
    <div class="text">
       <ul>
        <li>Equipment</li>
        <li>Sources</li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="seven-header">Expenses</div>
  <div class="content" id="seven-content">
    <div class="text">
       <ul>
         <li><%= link_to 'Mileage', admin_mileages_path %></li>
         <li><%= link_to 'Reclaim Rates', admin_reclaim_rates_path %></li>
         <li><%= link_to 'Vehicle Types', admin_vehicle_types_path %></li>
        <li><%= link_to 'Purchases', admin_expenses_path %></li>
      </ul>
    </div>
  </div>
  <div class="slider_header" id="eight-header">General Settings</div>
  <div class="content" id="eight-content">
    <div class="text">
       <ul>
        <li><%= link_to 'Payment Methods', admin_accounts_payment_methods_path %></li>
        <li><%= link_to 'Contact Types', admin_contact_types_path %></li>
        <li><%= link_to 'Social Media Types', admin_social_media_types_path %></li>
        <li><%= link_to 'VAT Types', admin_vats_path %></li>
        <li><%= link_to 'Expense Categories', admin_expense_categories_path %></li>
        <li><%= link_to 'Expense Types', admin_expense_types_path %></li>
        <li><%= link_to 'Company Details', admin_company_details_path %></li>
        <li><%= link_to 'Supplier Types', admin_supplier_types_path %></li>
      </ul>
    </div>
  </div>
</div>